.profile__add-button {
display: flex;
justify-content: center;
position: absolute;
right: 0;
align-items: center;
width: 150px;
height: 50px;
background-color: #000000;
border: 1px solid #ffffff;
margin-top: 35px;
margin-right: 0;
padding: 0;
}
.profile__add-button:hover {
  opacity: 0.6;
}
@media screen and (max-width: 767px) {
  .profile__add-button {
  position: absolute;
  bottom: 0;
   margin: 0 auto;
   justify-content: center;
   width: 282px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .profile__add-button {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    justify-content: center;
    width: 581px;
  }
}

