.profile__info {
  display: flex;
  flex-direction: column;
  padding-top: 22px;
  padding-left: 30px;
  margin: 0;
  width: 336px;
  height: 73px;
}

@media screen and (max-width: 767px) {
  .profile__info {
    padding-top: 26px;
    padding-left: 0;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 282px;
    height: 54px;
}
}

